*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

body, app-route {
    width: 100%;
    min-height: 100vh;
    background: $White;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: $base-font-size;
}

.opace {
    opacity: .7;
}

.bold {
    font-weight: 700;
    font-size: 1.2em;
}

.lead {
    font-size:  2.5em;
    font-weight: 700;
}