.summary-container {
    min-height: 60vh;
    width: 100%;
    padding-inline: 8%;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 2rem;

    @include tablet {
        min-height: auto;
        height: 100%;
        border-radius: 0 2rem 2rem 0;
    }

    .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        gap: 2rem;

        .detail {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 1rem;

            .left {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem
            }
        }
    }


    button {
        padding: 1rem 2rem;
        font-size: 1.3em;
        border-radius: 4rem;
        border: none;
        outline: none;
        background: linear-gradient(black 1%, $Dark-gray-blue);
        background: $Dark-gray-blue;
        color: $White;
        cursor: pointer;
        position: relative;
        
        &::after {
            content: 'Continue';
            position: absolute;
            inset:0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4rem;
            background: linear-gradient($Light-slate-blue, $Light-royal-blue);
            transition: all .5s ease-in-out;
            opacity: 0;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}